https://stackoverflow.com/questions/39604271/conda-environments-not-showing-up-in-jupyter-notebook

Data could be continuous or categorical. There could be missing rows in both the types. For continuous data, we can fill the missing values by taking the mean/median/max value, and create a flag for missing column. eg. salary_missing=1. Once the missing data is added, we can normalize the data. 
For categorical data, they can be converted into pandas data type - category. This will assign a number to each of the categories found in the column. As python treats missing value of category -1, we can add +1 to start the list from 0. We don't need to normalize the data here.

Once this is done, we need to split the data into train, validation and test. 
After this, we need to create an architecture: no of layers, no of nodes in a layer, drop out, activation function, batch normalization.
For judging the model, we can compare the following: training loss, validation loss and accuracy. Comparing training and validation loss can help us in finding cases of underfitting and overfitting.

In [1]:
from fastai import *
from fastai.tabular import *

In [2]:
path = untar_data(URLs.ADULT_SAMPLE)
path

PosixPath('/home/prateek/.fastai/data/adult_sample')

In [3]:
df = pd.read_csv(path/'adult.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>=50k
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,1
1,44,Private,236746,Masters,14.0,Divorced,Exec-managerial,Not-in-family,White,Male,10520,0,45,United-States,1
2,38,Private,96185,HS-grad,NaN,Divorced,NaN,Unmarried,Black,Female,0,0,32,United-States,0
3,38,Self-emp-inc,112847,Prof-school,15.0,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,United-States,1
4,42,Self-emp-not-inc,82297,7th-8th,NaN,Married-civ-spouse,Other-service,Wife,Black,Female,0,0,50,United-States,0

In [14]:
Normalize??

In [4]:
procs = [FillMissing, Categorify, Normalize]

In [5]:
valid_idx = range(len(df)-2000, len(df))

In [6]:
dep_var = '>=50k'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'native-country']

In [7]:
data = TabularDataBunch.from_df(path, df, dep_var, valid_idx=valid_idx, procs=procs, cat_names=cat_names)
print(data.train_ds.cont_names)  # `cont_names` defaults to: set(df)-set(cat_names)-{dep_var}

['capital-gain', 'age', 'capital-loss', 'hours-per-week', 'education-num', 'fnlwgt']

In [22]:
df.head(1)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,>=50k
0,49,Private,101320,Assoc-acdm,12.0,Married-civ-spouse,NaN,Wife,White,Female,0,1902,40,United-States,1

In [21]:
next(iter(data.train_dl))

[[tensor([[ 5, 10,  3,  5,  1,  5,  2, 40,  1],
          [ 5, 16,  5,  9,  4,  5,  1, 27,  1],
          [ 5, 10,  5, 11,  4,  5,  1, 32,  1],
          [ 5, 16,  5, 11,  3,  3,  1, 40,  1],
          [ 5, 16,  3,  2,  1,  5,  2, 40,  1],
          [ 5, 13,  3,  5,  1,  5,  2, 40,  1],
          [ 5, 12,  3,  7,  1,  5,  2, 40,  1],
          [ 5, 12,  5,  8,  4,  5,  1, 30,  1],
          [ 6, 12,  3,  2,  1,  5,  2, 40,  1],
          [ 5, 16,  7,  2,  5,  5,  1, 40,  1],
          [ 5, 16,  3,  6,  1,  5,  2, 40,  1],
          [ 3, 15,  3,  5,  1,  5,  2, 40,  1],
          [ 5, 12,  3,  5,  1,  5,  2, 40,  1],
          [ 8, 16,  5,  2,  4,  5,  1, 40,  1],
          [ 5, 16,  3,  5,  1,  5,  2, 40,  1],
          [ 3, 12,  3,  5,  1,  5,  2, 40,  1],
          [ 5,  8,  1, 13,  2,  5,  2, 40,  1],
          [ 3, 12,  1, 12,  2,  5,  2, 40,  1],
          [ 5,  1,  3,  4,  1,  5,  2, 40,  1],
          [ 6,  8,  5, 13,  2,  5,  1, 40,  1],
          [ 5, 13,  3, 14,  1,  2,  2, 31,  1],
          [ 5, 12,  5, 13,  4,  5,  2, 40,  1],
          [ 5, 12,  5, 13,  2,  5,  1, 40,  1],
          [ 5, 12,  5,  2,  2,  5,  1, 40,  1],
          [ 5, 12,  3,  9,  3,  2,  2, 31,  1],
          [ 5, 16,  3,  4,  1,  5,  2, 40,  1],
          [ 5, 16,  5, 15,  2,  5,  2, 40,  1],
          [ 5, 15,  5, 11,  2,  2,  2, 40,  1],
          [ 8, 16,  1, 11,  2,  3,  1, 40,  1],
          [ 5, 12,  7,  4,  5,  2,  1, 36,  1],
          [ 5, 12,  3,  4,  1,  3,  2, 40,  1],
          [ 1,  8,  7,  1,  2,  5,  1, 23,  1],
          [ 5, 12,  1,  2,  5,  5,  1,  6,  1],
          [ 5,  9,  1,  0,  5,  5,  1, 40,  2],
          [ 2, 16,  1,  2,  5,  3,  1, 40,  1],
          [ 5, 16,  5,  2,  4,  5,  2, 40,  1],
          [ 5, 10,  4,  2,  2,  5,  1, 40,  1],
          [ 5, 10,  3, 14,  1,  5,  2, 40,  1],
          [ 5,  2,  3, 14,  1,  5,  2, 40,  1],
          [ 2, 13,  1, 12,  2,  5,  2, 40,  1],
          [ 5, 12,  6,  9,  2,  5,  2, 40,  1],
          [ 5, 12,  6,  0,  2,  5,  1, 40,  1],
          [ 5, 12,  5,  5,  2,  5,  2, 40,  1],
          [ 5, 12,  3,  5,  1,  5,  2, 40,  1],
          [ 5, 10,  3,  5,  1,  5,  2, 40,  1],
          [ 7,  4,  7, 13,  3,  5,  2, 27,  1],
          [ 7, 16,  3,  4,  1,  5,  2, 40,  1],
          [ 8, 10,  3, 11,  6,  5,  1, 40,  1],
          [ 5,  1,  5,  9,  4,  5,  2, 40,  1],
          [ 8,  9,  5,  2,  5,  5,  1, 40,  1],
          [ 5,  1,  5, 13,  4,  5,  2, 40,  1],
          [ 5, 16,  5,  5,  2,  5,  2, 40,  1],
          [ 1, 16,  5,  1,  4,  5,  2, 40,  1],
          [ 5, 16,  1,  2,  5,  5,  1, 40,  1],
          [ 5, 12,  6, 11,  5,  5,  1, 40,  1],
          [ 5, 10,  5, 13,  2,  5,  2, 40,  1],
          [ 2, 13,  5,  5,  2,  5,  1, 40,  1],
          [ 5, 10,  3, 15,  1,  5,  2, 40,  1],
          [ 5,  9,  3,  9,  1,  5,  2, 40,  1],
          [ 5, 16,  3,  4,  1,  5,  2, 40,  1],
          [ 5, 12,  3,  4,  1,  5,  2, 40,  1],
          [ 5, 16,  6, 13,  4,  1,  2, 40,  2],
          [ 5,  6,  3, 12,  1,  5,  2, 40,  1],
          [ 7, 10,  3, 13,  1,  5,  2, 40,  1]]),
  tensor([[ 1.3285e+01, -6.3151e-01, -2.1679e-01,  7.7213e-01,  1.1457e+00,
           -5.4098e-01],
          [-1.4592e-01, -1.5102e+00, -2.1679e-01, -1.6516e+00, -2.9745e-02,
           -4.7837e-02],
          [-1.4592e-01, -6.3151e-01, -2.1679e-01, -3.5789e-02,  1.1457e+00,
           -1.1941e-03],
          [-6.6141e-02, -1.3638e+00, -2.1679e-01, -1.6516e+00, -2.9745e-02,
            7.2685e-01],
          [-1.4592e-01, -5.5829e-01, -2.1679e-01, -3.5789e-02, -2.9745e-02,
            4.0450e-01],
          [-1.4592e-01,  7.5980e-01, -2.1679e-01,  3.6817e-01,  1.5376e+00,
           -1.7869e-01],
          [-1.4592e-01, -6.3151e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            7.3953e-02],
          [-1.4592e-01, -1.2906e+00, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            2.9640e+00],
          [-1.4592e-01, -3.3860e-01, -2.1679e-01,  3.6817e-01, -4.2157e-01,
           -3.0559e-01],
          [-1.4592e-01, -8.5119e-01, -2.1679e-01, -3.5789e-02, -2.9745e-02,
            2.5309e-01],
          [-1.4592e-01, -7.0474e-01, -2.1679e-01, -3.5789e-02, -2.9745e-02,
           -7.3695e-01],
          [-1.4592e-01,  2.4721e-01, -2.1679e-01,  1.1761e+00,  1.9294e+00,
            1.8939e-01],
          [-1.4592e-01, -1.9215e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -2.3523e-01],
          [-1.4592e-01, -1.2173e+00, -2.1679e-01, -3.5789e-02, -2.9745e-02,
           -8.7931e-01],
          [-1.4592e-01,  3.9367e-01, -2.1679e-01,  3.6817e-01, -2.9745e-02,
            1.3268e-01],
          [-1.4592e-01, -1.9215e-01, -2.1679e-01,  3.6817e-01, -4.2157e-01,
           -4.4658e-01],
          [-1.4592e-01, -6.3151e-01, -2.1679e-01,  9.3371e-01,  7.5390e-01,
            6.1778e-01],
          [-1.4592e-01,  9.0626e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -3.1944e-01],
          [-1.4592e-01,  6.8658e-01, -2.1679e-01, -8.4371e-01, -1.5970e+00,
           -1.5095e+00],
          [-1.4592e-01,  9.0626e-01, -2.1679e-01, -1.2477e+00,  7.5390e-01,
           -8.1178e-01],
          [-1.4592e-01,  5.4012e-01, -2.1679e-01, -3.5789e-02,  1.5376e+00,
           -4.9598e-01],
          [-1.4592e-01, -1.5102e+00, -2.1679e-01, -1.6516e+00, -4.2157e-01,
            1.0708e+00],
          [-1.4592e-01,  1.0527e+00, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -1.5095e+00],
          [-1.4592e-01,  9.0626e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            4.8866e-02],
          [-1.4592e-01,  1.1992e+00, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -1.0687e+00],
          [-1.4592e-01,  1.5653e+00, -2.1679e-01,  1.1761e+00, -2.9745e-02,
           -5.5913e-01],
          [-1.4592e-01, -1.1441e+00, -2.1679e-01, -3.5789e-02, -2.9745e-02,
           -7.2361e-01],
          [-1.4592e-01, -7.0474e-01, -2.1679e-01,  1.1761e+00,  1.9294e+00,
           -1.2294e-01],
          [-1.4592e-01,  1.1992e+00, -2.1679e-01, -2.7816e-01, -2.9745e-02,
           -7.6729e-02],
          [-1.4592e-01,  7.5980e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -5.1218e-01],
          [-1.4592e-01, -7.0474e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            4.1923e+00],
          [-1.4592e-01,  2.2243e+00, -2.1679e-01, -2.7827e+00,  7.5390e-01,
           -9.0494e-02],
          [-1.4592e-01,  9.7948e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            1.2234e+00],
          [-1.4592e-01,  1.0527e+00, -2.1679e-01, -3.5789e-02, -2.9745e-02,
           -4.4811e-01],
          [-1.4592e-01, -1.1892e-01, -2.1679e-01, -3.5789e-02, -2.9745e-02,
            2.3474e-01],
          [-1.4592e-01, -1.2906e+00, -2.1679e-01, -8.4371e-01, -2.9745e-02,
            7.8109e-02],
          [-1.4592e-01, -3.3860e-01, -2.1679e-01, -1.2477e+00,  1.1457e+00,
           -1.5307e+00],
          [-1.4592e-01, -1.1892e-01,  4.6930e+00, -3.5789e-02,  1.1457e+00,
            4.9465e-01],
          [-1.4592e-01, -9.9765e-01, -2.1679e-01, -3.5789e-02, -1.2052e+00,
           -7.7136e-02],
          [-1.4592e-01,  3.2044e-01, -2.1679e-01,  1.5800e+00,  1.5376e+00,
           -2.6792e-02],
          [-1.4592e-01, -9.2442e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            1.3302e+00],
          [-1.4592e-01,  6.1335e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            1.8530e-01],
          [-1.4592e-01, -6.3151e-01, -2.1679e-01,  1.5800e+00, -4.2157e-01,
            1.4903e+00],
          [-1.4592e-01,  1.7118e+00, -2.1679e-01, -3.5789e-02, -4.2157e-01,
           -2.5486e-01],
          [-1.4592e-01,  4.6689e-01, -2.1679e-01,  3.6817e-01,  1.1457e+00,
           -1.0125e+00],
          [-1.4592e-01,  3.1031e+00, -2.1679e-01,  3.6817e-01, -3.1643e+00,
            3.3047e-02],
          [-1.4592e-01,  6.1335e-01,  4.6930e+00, -3.5789e-02, -2.9745e-02,
            3.6839e-01],
          [-1.4592e-01,  1.7399e-01, -2.1679e-01, -3.5789e-02,  1.1457e+00,
           -1.0824e+00],
          [-1.4592e-01, -7.0474e-01, -2.1679e-01, -3.5789e-02, -1.5970e+00,
           -5.8913e-02],
          [-1.4592e-01, -3.3860e-01, -2.1679e-01, -3.5789e-02,  3.6208e-01,
           -8.1769e-01],
          [-1.4592e-01, -1.5835e+00, -2.1679e-01, -8.4371e-01, -1.5970e+00,
           -2.4852e-01],
          [-1.4592e-01, -1.1441e+00, -2.1679e-01, -3.5789e-02, -2.9745e-02,
            1.1575e+00],
          [-1.4592e-01, -1.2173e+00, -2.1679e-01, -3.5789e-02, -2.9745e-02,
           -4.9104e-01],
          [-1.4592e-01, -1.1892e-01, -2.1679e-01,  3.6817e-01, -2.9745e-02,
           -9.7920e-01],
          [-1.4592e-01, -1.1892e-01, -2.1679e-01, -1.9737e-01, -4.2157e-01,
            5.3895e-01],
          [-1.4592e-01, -8.5119e-01, -2.1679e-01,  3.1959e+00,  1.1457e+00,
           -1.0383e-01],
          [ 1.7457e+00,  2.4721e-01, -2.1679e-01,  1.5800e+00,  1.5376e+00,
           -1.8475e-01],
          [-1.4592e-01,  2.4721e-01, -2.1679e-01, -3.5789e-02,  1.1457e+00,
            5.8204e-01],
          [-1.4592e-01,  6.1335e-01, -2.1679e-01, -1.1669e+00,  3.6208e-01,
            8.1737e-01],
          [-1.4592e-01,  5.4012e-01, -2.1679e-01,  2.8738e-01, -2.9745e-02,
           -2.3543e-01],
          [-1.4592e-01, -5.5829e-01, -2.1679e-01, -3.5789e-02, -4.2157e-01,
            6.5963e-01],
          [ 2.0288e-01, -9.2442e-01, -2.1679e-01,  6.1054e-01, -2.9745e-02,
           -3.6158e-01],
          [-1.4592e-01,  1.7118e+00, -2.1679e-01,  4.0846e+00, -2.3807e+00,
           -7.1650e-01],
          [-1.4592e-01, -4.1183e-01, -2.1679e-01,  3.6817e-01,  1.1457e+00,
            1.1579e+00]])],
 tensor([1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0,
         0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1,
         0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1])]

In [8]:
(cat_x,cont_x),y = next(iter(data.train_dl))
for o in (cat_x, cont_x, y): print(to_np(o[:5]))

[[ 7  9  3 11  6  5  1 40  1]
 [ 5  9  1 13  5  5  1 40  1]
 [ 5 10  5  2  4  5  1 40  1]
 [ 5 13  4 11  2  5  2 40  1]
 [ 5 12  5  4  2  3  2 40  1]]
[[-0.145922  0.173985 -0.216787 -2.055581  0.362079 -0.357428]
 [-0.145922 -0.19215  -0.216787 -0.035789  0.362079 -0.52798 ]
 [-0.145922 -1.21733  -0.216787 -0.682123  1.145728 -0.682932]
 [-0.145922  0.759802 -0.216787 -0.035789  1.537552 -0.087228]
 [-0.145922 -0.631513 -0.216787  0.448961 -0.421569  1.478249]]
[1 0 0 0 0]

In [27]:
learn

Learner(data=TabularDataBunch;

Train: LabelList
y: CategoryList (30561 items)
[Category 1, Category 1, Category 0, Category 1, Category 0]...
Path: /home/prateek/.fastai/data/adult_sample
x: TabularList (30561 items)
[TabularLine workclass  Private; education  Assoc-acdm; marital-status  Married-civ-spouse; occupation #na#; relationship  Wife; race  White; sex  Female; native-country  United-States; education-num_na False; capital-gain -0.1459; age 0.7598; capital-loss 4.5067; hours-per-week -0.0358; education-num 0.7539; fnlwgt -0.8371; , TabularLine workclass  Private; education  Masters; marital-status  Divorced; occupation  Exec-managerial; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; education-num_na False; capital-gain 1.2670; age 0.3937; capital-loss -0.2168; hours-per-week 0.3682; education-num 1.5376; fnlwgt 0.4449; , TabularLine workclass  Private; education  HS-grad; marital-status  Divorced; occupation #na#; relationship  Unmarried; race  Black; sex  Female; native-country  United-States; education-num_na True; capital-gain -0.1459; age -0.0457; capital-loss -0.2168; hours-per-week -0.6821; education-num -0.0297; fnlwgt -0.8857; , TabularLine workclass  Self-emp-inc; education  Prof-school; marital-status  Married-civ-spouse; occupation  Prof-specialty; relationship  Husband; race  Asian-Pac-Islander; sex  Male; native-country  United-States; education-num_na False; capital-gain -0.1459; age -0.0457; capital-loss -0.2168; hours-per-week -0.0358; education-num 1.9294; fnlwgt -0.7280; , TabularLine workclass  Self-emp-not-inc; education  7th-8th; marital-status  Married-civ-spouse; occupation  Other-service; relationship  Wife; race  Black; sex  Female; native-country  United-States; education-num_na True; capital-gain -0.1459; age 0.2472; capital-loss -0.2168; hours-per-week 0.7721; education-num -0.0297; fnlwgt -1.0172; ]...
Path: /home/prateek/.fastai/data/adult_sample;

Valid: LabelList
y: CategoryList (2000 items)
[Category 0, Category 0, Category 0, Category 1, Category 0]...
Path: /home/prateek/.fastai/data/adult_sample
x: TabularList (2000 items)
[TabularLine workclass  Private; education  Bachelors; marital-status  Divorced; occupation  Prof-specialty; relationship  Unmarried; race  Black; sex  Female; native-country  United-States; education-num_na False; capital-gain -0.1459; age 0.5401; capital-loss -0.2168; hours-per-week -0.6821; education-num 1.1457; fnlwgt 1.8465; , TabularLine workclass  Private; education  Some-college; marital-status  Never-married; occupation  Sales; relationship  Not-in-family; race  White; sex  Female; native-country  United-States; education-num_na False; capital-gain -0.1459; age -1.0709; capital-loss -0.2168; hours-per-week -2.0556; education-num -0.0297; fnlwgt 1.1295; , TabularLine workclass  Private; education  HS-grad; marital-status  Divorced; occupation  Machine-op-inspct; relationship  Not-in-family; race  White; sex  Female; native-country  United-States; education-num_na False; capital-gain -0.1459; age 0.5401; capital-loss -0.2168; hours-per-week -0.1974; education-num -0.4216; fnlwgt -0.1723; , TabularLine workclass  Self-emp-not-inc; education  HS-grad; marital-status  Never-married; occupation  Craft-repair; relationship  Not-in-family; race  White; sex  Male; native-country  United-States; education-num_na False; capital-gain 1.7806; age 0.3937; capital-loss -0.2168; hours-per-week -0.0358; education-num -0.4216; fnlwgt 0.8029; , TabularLine workclass  Private; education  Bachelors; marital-status  Never-married; occupation  Exec-managerial; relationship  Own-child; race  Black; sex  Male; native-country  Germany; education-num_na False; capital-gain -0.1459; age -0.6315; capital-loss -0.2168; hours-per-week -0.0358; education-num 1.1457; fnlwgt -1.0660; ]...
Path: /home/prateek/.fastai/data/adult_sample;

Test: None, model=TabularModel(
  (embeds): ModuleList(
    (0): Embedding(10, 6)
    (1): Embedding(17, 8)
    (2): Embedding(8, 5)
    (3): Embedding(16, 8)
    (4): Embedding(7, 5)
    (5): Embedding(6, 4)
    (6): Embedding(3, 3)
    (7): Embedding(43, 10)
    (8): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.0)
  (bn_cont): BatchNorm1d(6, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): Linear(in_features=58, out_features=200, bias=True)
    (1): ReLU(inplace)
    (2): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (3): Linear(in_features=200, out_features=100, bias=True)
    (4): ReLU(inplace)
    (5): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
    (6): Linear(in_features=100, out_features=2, bias=True)
  )
), opt_func=functools.partial(<class 'torch.optim.adam.Adam'>, betas=(0.9, 0.99)), loss_func=<fastai.layers.FlattenedLoss object at 0x7f0a7e5ee320>, metrics=[<function accuracy at 0x7f0a7e648268>], true_wd=True, bn_wd=True, wd=0.01, train_bn=True, path=PosixPath('/home/prateek/.fastai/data/adult_sample'), model_dir='models', callback_fns=[<class 'fastai.basic_train.Recorder'>], callbacks=[], layer_groups=[Sequential(
  (0): Embedding(10, 6)
  (1): Embedding(17, 8)
  (2): Embedding(8, 5)
  (3): Embedding(16, 8)
  (4): Embedding(7, 5)
  (5): Embedding(6, 4)
  (6): Embedding(3, 3)
  (7): Embedding(43, 10)
  (8): Embedding(3, 3)
  (9): Dropout(p=0.0)
  (10): BatchNorm1d(6, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (11): Linear(in_features=58, out_features=200, bias=True)
  (12): ReLU(inplace)
  (13): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (14): Linear(in_features=200, out_features=100, bias=True)
  (15): BatchNorm1d(100, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (16): Linear(in_features=100, out_features=2, bias=True)
)])

In [9]:
learn = tabular_learner(data, layers=[200,100], emb_szs={'native-country': 10}, metrics=accuracy)
learn.fit_one_cycle(1, 1e-2)

In [10]:
learn.predict(df.iloc[0])

(Category 1, tensor(1), tensor([0.2773, 0.7227]))